.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
  }
  .miniContainer{
    width: 60%;
    height: 45vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    border: 2px solid rgb(155,155,155);
  }
  .mid{
    font-style: italic;
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
  }
  .inputContainer{
    margin-top: 10px;
    margin-left: 20px;
    position: relative;
    /* border: 1px solid red; */
  }
  .bold{
    font-style: italic;
    font-weight: 500;
  }
  .inputSet{
    width: 60%;
    height: 4vh;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 2px ;
   border: 1px solid rgb(155,155,155);
  }
  .copy{
    top: 22.5px;
   left: 32.7rem;
   cursor: pointer;
    position: absolute;
  }

  .passwordLength{
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding-left: 1.1rem;
    /* border: 2px solid green; */
  }
  .range{
    width: 50%;
   color: #4CAF50;
    margin-left: 1rem;
  }
  .sideColor{
    font-size: 18px;
    margin-left: 12px;
    font-weight: 500;
    /* color: #4CAF50; */
  }
  .allCheckbox{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    margin-top: 12px;
    /* border: 1px solid blue; */
  }
  
  .generateBtn{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    /* border: 1px solid red; */
  }
  .btn{
    height: 5vh;
  }